@font-face {
	font-family: 'fr';
	src: url(FranxurterTotallyFat-X3G4Z.ttf);
}

@font-face {
	font-family: 'HYWenHei-85W';
	src: url(zhcn.ttf);
}
@-webkit-keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}
body {
  background-image: url('biday.png');
  background-size: 1600px
} 

h1
{
	color:#FFFFFF; 
	font-size:100px; 
	font-family: fr;
	text-shadow: 2px 2px #3816a0;
	text-align:center;
	margin:0;
	padding:0
}

h2
{
	color:#ff5686; 
	font-size:150px; 
	font-family: HYWenHei-85W;
	text-shadow: 2px 2px #3816a0;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
	text-align:center;
	margin:0;
	padding:0
}

p
{
	color:#FFFFFF; 
	font-size:50px; 
	font-family: HYWenHei-85W;
	text-shadow: 2px 2px #251157;
	text-align:center;
}
